# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.venv/
venv/
env/

# Build
build/
dist/
*.egg-info/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log